<% if (val != null){ %>
<%
    // Likeされているかどうか調べる
    let liked = false;
    for(let i in likes) {
        if (likes[i].attributes.message_id == val.attributes.id) {
            liked = true;
            break;
        }
    }
%>
<tr>
    <th style="width:100px;">
    <a class="home" href="/home/<%=val.attributes.user_id %>/1">
    <%= val.relations.user.attributes.name %></a></th>
    <td><%= val.attributes.message %></td>
    <%
    var d = new Date(val.attributes.created_at);
    var dstr = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate()
    + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
    %>
    <td style="width:150px;"><%= dstr %></td>
    <% if(liked) { %>
    <td><a href="/dislike/<%=val.attributes.id%>">★</a></td>
    <% } else { %>
    <td><a href="/like/<%=val.attributes.id%>">☆</a></td>
    <% } %>
</tr>
<% } %>
